
#top-content {
    position: absolute;
    top: 0;
    bottom: 0; /* 130 + 6 */
    left: 0;
    right: 0;
		background-color: rgba(230, 230, 230, 1);
    overflow: auto;
}
#bottom-content {
    position: absolute;
    height: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: #777;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
}

#bottom-content .CodeMirror {
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
}

#content-resizer {
    position: absolute;
    height: 6px;
    bottom: 200px;
    left: 0;
    right: 0;
    background-color: #666;
    cursor: n-resize;
}

.resizable {
	width: 600px;
	height: 300px;
	padding: 10px;
	position: absolute;
	z-index: 0;
	transform: scale(1.0);
	background-color: rgba(0, 255, 0, 0.5);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.canvas {
	border: 0px solid black;
	z-index: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 1.0);
	cursor: -webkit-grab;
}


.canvas:active {
	cursor: -webkit-grabbing;
}

.canvas svg {
	height: 100%;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.resizable .del {
	position: absolute; 
	width: 30px; 
	height: 30px; 
	border: 0px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.resizable .drag {
	position: absolute; 
	width: 30px; 
	height: 30px; 
	border: 0px;
	padding: 0px;
	margin: 0px;
	cursor: move;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

