
.flubber.resizable {
	width: 600px;
	height: 300px;
	position: absolute;
	border: 2px solid gray;
	padding: 4px;
	z-index: 0;
	transform: scale(1.0);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flubber svg {
	border: 0px solid black;
	z-index: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 1.0);
	cursor: -webkit-grab;
}

.flubber svg:active {
	cursor: -webkit-grabbing;
}

.flubber.resizable .del {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  background-image: url('../img/collapse.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.flubber.resizable .drag {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	cursor: move;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  background-image: url('../img/move.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.flubber .resize {
	position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flubber .resize#n {
	cursor: n-resize;
    background-image: url('../img/resizeVertical.jpg');
}

.flubber .resize#ne {
	cursor: ne-resize;
    background-image: url('../img/resizeNE.jpg');
}

.flubber .resize#e {
	cursor: e-resize;
    background-image: url('../img/resizeHorizon.jpg');
}

.flubber .resize#se {
	cursor: se-resize;
    background-image: url('../img/resizeNW.jpg');
}

.flubber .resize#s {
	cursor: s-resize;
    background-image: url('../img/resizeVertical.jpg');
}

.flubber .resize#sw {
	cursor: sw-resize;
    background-image: url('../img/resizeNE.jpg');
}

.flubber .resize#w {
	cursor: w-resize;
    background-image: url('../img/resizeHorizon.jpg');
}

.flubber .resize#nw {
    cursor: nw-resize;
	background-image: url('../img/resizeNW.jpg');
}
