.flubber .resize {
	position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.resize#n {
	cursor: n-resize;
  background-image: url('../img/resizeVertical.jpg');
}

.resize#ne {
	cursor: ne-resize;
  background-image: url('../img/resizeNE.jpg');
}

.resize#e {
	cursor: e-resize;
  background-image: url('../img/resizeHorizon.jpg');
}

.resize#se {
	cursor: se-resize;
  background-image: url('../img/resizeNW.jpg');
}

.resize#s {
	cursor: s-resize;
  background-image: url('../img/resizeVertical.jpg');
}

.resize#sw {
	cursor: sw-resize;
  background-image: url('../img/resizeNE.jpg');
}

.resize#w {
	cursor: w-resize;
  background-image: url('../img/resizeHorizon.jpg');
}

.resize#nw {
	cursor: nw-resize;
  background-image: url('../img/resizeNW.jpg');
}
