<!DOCTYPE html>
<html ng-app="myApp" class="ng-scope">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=11">

		<link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="./stylesheets/codemirror.css">
		<link rel="stylesheet" href="./stylesheets/style.css">
		<link rel="stylesheet" href="./stylesheets/chart.css">
		<link rel="stylesheet" href="./stylesheets/test.css">
		
		<script src="./javascripts/angular.min.js"></script>
		<script src="./javascripts/codemirror/codemirror.js"></script>
		<script src="./javascripts/codemirror/mode/scheme.js"></script>
		<script src="./javascripts/codemirror/mode/javascript.js"></script>
		<script src="./javascripts/codemirror/mode/xml.js"></script>
		<script src="./javascripts/codemirror/mode/clike.js"></script>
		<script src="./javascripts/codemirror/addon/closebrackets.js"></script>
		<script src="./javascripts/codemirror/addon/active-line.js"></script>
		<script src="./javascripts/codemirror/addon/searchcursor.js"></script>
		<script src="./javascripts/codemirror/addon/mark-selection.js"></script>
		<script src="./javascripts/codemirror/addon/autorefresh.js"></script>
  	<script src="./javascripts/d3.v3.min.js"></script>
		<script src="./javascripts/d3.tip.v0.6.3.js"></script>
		
    <script src="./javascripts/test.js"></script>
    <script src="./javascripts/draggable.js"></script>
    <script src="./javascripts/resizable.js"></script>
    <script src="./javascripts/collapse.js"></script>
		
    <!--script src="./javascripts/canvas.controller.js"></script>
    <script src="./javascripts/code.editor.js"></script-->
  </head>

  <body ng-controller="MainCtrl" ng-mousedown="mainClick()">
		<div id="canvas-content" style="cursor: default; left: 0; top: 0; width: 100%; height: 100%; position: absolute;">
			<div ng-repeat="k in arr">
				<div id="resizable{{k.index}}" class="resizable" init-resizable my-resizable>
					<div ng-hide="k.isSelect == 0" my-collapse>
						<img src='./move.png' class='move' ng-disabled='selectDisabled' my-draggable/>
					</div>
					<div id="canvas{{k.index}}" class="canvas">
					
					</div>
				</div>
			</div>
		</div>
  	<!--div id="top-content" ng-mousemove="ContentMove($event)" ng-mouseup="ContentUp($event)" ng-mouseleave="ContentLeave($event)">
			<div ng-repeat="k in arr">
				<div id="resizable{{k}}" class="resizable" ng-mousemove="ResizableMove($event)" ng-mouseenter="ResizableEnter($event)" ng-mouseleave="ResizableLeave($event)" ng-mousedown="ResizableDown($event)" my-resizable>
					<div id="canvas{{k}}" class="canvas" ng-mousedown="CanvasDown($event)" ng-mouseenter="CanvasEnter($event)" ng-mouseleave="CanvasLeave($event)" my-canvas>
					</div>
					<img id="del{{k}}" src="./collapse.png" class="del" ng-click="btnDelClk($event)" ng-disabled="selectDisabled"/>
				</div>
			</div>
		</div-->
					
  		<!--div id="bottom-content">
				<div>
					<textarea ng-init="initOutputEdit()" id="outputEdit" width="10px" height="300px"></textarea>
				</div>
				<div align="center" style="margin-top:10px">
					<label class="btn btn-primary" ng-click="btnNextClk()">Next</label>
					<label class="btn btn-primary" ng-click="btnStepClk()">Step</label>
				</div>
			</div>
			
  		<div id="content-resizer" 
  			resizer="horizontal" 
  			resizer-height="6" 
  			resizer-top="#top-content" 
  			resizer-bottom="#bottom-content"
				resizer-max="600">
  		</div-->
  </body>

</html>
